.container  {
    display: flex;
    gap: 20px;
}

ul {
    list-style: none;

    li {
        margin-bottom: 20px;
    }
}

.navigation-bar {
    width: 15%;
    height: 100vh;
    border-right: 2px solid;
}

.lib-components {
    width: 65%;  
}